body{
  font-family: Arial, sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 40px;
}
.box{
  background-color: blanchedalmond;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
}

.box label{
  display: block;
  margin-bottom: 10px;

}

.box input{
  padding: 5px;
  margin-top: 5px;

}
button{
  width: 200px;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background: #4CAF50;
  color: white;
  cursor: pointer;
}