<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app/static/index.css">
    <title>Recetify</title>
</head>
<body>
<h1>Registrate</h1>
<form action="" class="box">
    <label for="">
    usuario: <input type="text" id="username">
    </label>
    <label for="">
    Correo: <input type="email" id="email">
    </label>
    <label for="">
    Contraseña: <input type="password" id="password">
    </label>
    <label for="">
    <button type="button" id="registerBtn">Registrarse</button>
    </label>
</form>

<script src="/static/register.js"></script>


    <h1>Inicia tu sesión</h1>
    <form action="" class="box">
        <label for="">
            Correo: <input type="text" id="email" name="email">
        </label>
        <label for="">
            Contraseña: <input type="text" id="password" name="password">
        </label>
        <button type="button" id="loginBTN">Ingresar</button>
    </form>



    <script src="/app/static/index.js"></script>
</body>
</html>