<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    
    <title>Recetify</title>

</head>
<body>
    
    <h1>Registrate</h1>
    <form action="" class="box">
        <label>
            usuario: <input type="text" id="username">
        </label>
        <label>
            Correo: <input type="email" id="email">
        </label>
        <label>
            Contraseña: <input type="password" id="password">
        </label>
        <label>
            <button type="button" id="registerBtn">Registrarse</button>
        </label>
    </form>

    <h1>Inicia tu sesión</h1>
    <form action="" class="box">
        <label>
            Correo: <input type="text" id="email_l" name="email">
        </label>
        <label>
            Contraseña: <input type="password" id="password_l" name="password">
        </label>
            <button type="button" id="loginBtn">Ingresar</button>
    </form>

</body>
</html>